.movie-inner-wrap {position: relative; transition: all 0.24s ease; -webkit-transition: all 0.24s ease; }
.movie-inner-wrap img {width: 50%; opacity: 1; transition: all 0.26s ease; -webkit-transition: all 0.26s ease; }
.movie-inner-wrap h4 {position: absolute; left: 51%; top: 18%; padding: 0 30px; font-size: 29px; font-weight: 700; color: #000; transition: all 0.3s ease; -webkit-transition: all 0.3s ease; }
.movie-inner-wrap p {top: 32% !important; color: #444; margin: 0; font-size: 19px; line-height: 1.8; transition: all 0.32s ease; -webkit-transition: all 0.32s ease; position: absolute; left: 51%; top: 25%; padding: 0 30px; }
.movie-inner-wrap span {top: 65% !important; color: #444; margin: 0; font-size: 14px; line-height: 1.8; transition: all 0.32s ease; -webkit-transition: all 0.32s ease; position: absolute; left: 51%; top: 30%; padding: 0 30px; }
.movie-inner-wrap h6 {top: 25% !important; color: #444; margin: 0; font-size: 13px; line-height: 1.8; transition: all 0.32s ease; -webkit-transition: all 0.32s ease; position: absolute; left: 51%; top: 30%; padding: 0 30px; }
.movie-content {background: #f8f8f8; transition: all 0.32s ease; -webkit-transition: all 0.32s ease;}
.movie-content:hover {background: #437df9; }
.movie-content:hover > * {color: #fff; }
.movie-search-bar {position:  relative; text-align:  center; }
.movie-search-bar select {display: inline-block; margin: 20px 0 20px 15px; font-size:  15px; color:  #1b1b1d; }
/** preloader **/
.mov-preloader-wrap {display: none; z-index: 999999999999999; position: absolute; width: 100%; height: 100%; top: 0; bottom: 0; right: 0; left: 0; background: rgba(255,255,255,0.78); }
.mov-preloader {width: 56px; height: 56px; border: 8px solid transparent; border-top-color: #0052ec; border-bottom-color: #0052ec; border-radius: 50%; position: fixed; animation: loader-rotate 1s linear infinite; top: 40%; left: 50%; margin: 0 28px 0 0; }
.movie-widget-wrap {
    background-color:  #fff;
    padding:  10px;
    transition: all 0.32s ease; -webkit-transition: all 0.32s ease;
}

.movie-widget-wrap li {
    list-style:  none;
    cursor: pointer;
    color: #1b1b1d;
    font-size: 14px;
}
.movie-widget-wrap h3 {
    color: #1b1b1d;
    font-weight:900;
    letter-spacing:2px;
}
.movie-widget-wrap:hover li ,  .movie-widget-wrap:hover > *{
    color:  #ffffff;
}

.movie-widget-wrap:hover { background-color:  #437df9; }